<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %} Bienvenidos {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/media/css/excite-bike/jquery-ui-1.10.3.custom.css">

	<script type="/media/js/ajax.js"></script>
	<script type="/media.js/jquery.js"></script>
	<script type="/media/js/jquery-ui.js"></script>
	<script type="/media/bootstrap/js/bootstrap.js"></script>
	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px; 
		}
		.hero-unit{ padding-top:  39px;}
		.sidebar-nav{ padding:  9px;}
	</style>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class ="brand" href="{% url 'vista principal' %}"> Catalogo de productos </a>
			<ul class="nav">
				<li><a href="/productos/page/1">Productos</a></li>
				<li><a href="{% url 'vista_about' %}">Acerca de ...</a></li>
				<li><a href="{% url 'vista_contacto' %}">Contactos</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'vista_logout' %}"><button type="submit" class="btn btn-into">Cerrar Sesion</button></a></li>
					
				{% else %}

					<li><a href="{% url 'vista_login' %}"><button type="submit" class="btn btn-success">Login</button></a></li>
				{% endif%}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<div class="nav nav-list">
						<li class="nav-header">Mi Catalogo</li>
						<br>
						<h4>Informacion</h4>
						<div class="alert alert-info">
							<h5>Mi Catalogo Virtual</h5>
							<p><b>Direccion </b> : Cra 1 # 12-100</p>
							<p><b>Telefono</b> : 8 393939</p>
							<p>3163411052</p>
							<p>Popayan - Cauca</p>
						</div>
						<div align="center">
							<img src="/media/images/django.gif">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>



<!--<body>
		<header>
			<img src ="/media/images/Django.gif"/>
			<h1>Proyecto - Catalogo de Productos</h1>
			<nav>
				<a href="/">Inicio</a>
				<a href="/productos" >Productos</a>
				<a href="/contacto">Contactos</a>
				<a href="/about">Acerca de...</a>

				{% if user.is_authenticated %}
					<a href="{% url 'vista_logout' %}">Cerrar Sesion</a>
				{% else %}
					<a href="{% url 'vista_login' %}">Login</a>
				{% endif%}

			</nav>
		</header>
		
</body>
</html>	-->